{
  presets: [
    [
      "@babel/stage-0",
      {
        decoratorsLegacy: true,
        pipelineProposal: "minimal"
      }
    ],
    "poi"
  ],
  plugins: [
    "react-hot-loader/babel",
    [
      "module-resolver",
      {
        root: ["./src"],
        alias: {
          features: "./src/features"
        }
      }
    ]
  ]
}
