{
  "presets": ["razzle/babel", "es2017", "stage-0"],
  "plugins": [
    "transform-decorators-legacy",
    [
      "babel-plugin-styled-components",
      {
        "ssr": true
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ]
  ]
}
